{% load jazzmin %}

<div class="input-group" id="{{ widget.attrs.id }}-wrapper" data-target-input="nearest">
    <input
        type="text"
        class="form-control datetimepicker-input"
        data-target="#{{ widget.attrs.id }}-wrapper"
        name="{{ widget.name }}"
        id="{{ widget.attrs.id }}"
        {% if widget.value %}value="{{ widget.value|date:widget.format }}"{% endif %}
    />
    <div class="input-group-append" data-target="#{{ widget.attrs.id }}-wrapper" data-toggle="datetimepicker">
        <div class="input-group-text"><i class="fas fa-calendar"></i></div>
    </div>
</div>

<style>
    /* Prevent Jazzmin header styles from hiding icons */
    .bootstrap-datetimepicker-widget .datepicker-days table thead tr:first-child th {
        background: none !important;
        color: #333 !important;
        width: 35px !important;
        height: 35px !important;
        vertical-align: middle !important;
        padding: 0 !important;
    }
    .prev-year-btn, .next-year-btn {
        cursor: pointer;
        font-size: 0.9rem;
    }
    .prev-year-btn:hover, .next-year-btn:hover {
        background-color: rgba(0,0,0,0.05) !important;
    }
</style>
