Django
djangorestframework
djangorestframework-simplejwt
django-cors-headers
django-filter
django-more-admin-filters
drf-spectacular
psycopg2-binary
pydub
pyotp
redis
SpeechRecognition
celery
channels
django-jazzmin